@import url('./variables.css');

* {
    margin: 0;
    padding: 0;

}



.contenedor {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.barra-lateral {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
    font-size: var(--font-size-base);
    color: var(--color-grey);
    font-weight: var(--font-weight-normal);

}

.logo {
    height: 25px;
    margin: 0;
    padding: 0px;
}

.pokemon {
    font-family: var(--font-titulo);
    display: flex;
    align-items: row;
    margin-top: 24px;
    gap: var(--spacing-sm);
}

.sidebar-elementos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-md);
}

.inicio {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-sm);
    color: var(--color-black);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);

}

.barra-lateral h1 {
    font-size: var(--font-size-grande);
    margin-bottom: var(--spacing-lg);
    color: var(--color-black);

}

.main-content {
    width: 80%;
    padding: var(--spacing-lg);
    margin-top: var(--spacing-lg);
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    font-family: var(--font-titulo);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    width: 100%;
    flex-wrap: wrap;

}

.botones {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
}

.nav input {
    padding: 8px 10px;
    font-size: var(--font-size-base);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    width: 480px;
    height: 28px;
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
}

.lupita {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 42px;
    background: #2fc4e9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
}

.lista {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    width: 126px;
    height: 42px;
    background-color: #B0B8C6;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    color: var(--color-white);
}

.cuadricula {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    gap: var(--spacing-md);
    width: 126px;
    height: 42px;
    background-color: #2fc4e9;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    color: var(--color-white);
}

.carta-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: var(--spacing-lg);
}

@media (max-width: 768px) {
    .cartas-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .cartas-container {
        grid-template-columns: 1fr;
    }
}

.fondocarta {
    width: 170px;
    height: 300px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: var(--spacing-sm);
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.fondocarta:hover{
    transform: scale(1.05);
}

.fondocarta:hover .fuego {
    box-shadow: 0 10px 20px rgba(255, 69, 0, 0.6);
}

.fondocarta:hover .agua {
    box-shadow: 0 10px 20px rgba(30, 144, 255, 0.6);
}

.fondocarta:hover .electrico {
    box-shadow: 0 10px 20px rgba(255, 223, 0, 0.6);
}

.fondocarta:hover .psiquico{
    box-shadow: 0 10px 20px #892be2a4;
}

.fondocarta:hover .planta {
    box-shadow: 0 10px 20px #32cd32c5;
}

.fondocarta:hover .lucha{
    box-shadow: 0 10px 20px #e69a4f;
}



.fuego {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: var();
    border: 5px solid rgba(186, 188, 191, 255);
    border-radius: 5px;
    background: var(--gradiante-fuego), url(../asset/images/textura.svg);
    background-size: cover;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-titulo);

}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6%;
    white-space: nowrap;
    font-size: 9px;
    margin-top: var(--spacing-xs);

}

.header p {
    margin-left: 10px;
}

.evolucion {
    width: 30px;
    justify-content: center;
    font-size: 6px;
    background: linear-gradient(90deg, #d1d1d1 0%, #c2c2c2 50%, #b1b1b1 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.header .evolucion {
    margin-left: -3px;
}

.tipo {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: var(--spacing-xs);
    margin-right: 10px;
}

.fondocarta img {
    width: 10px;
}

.incolora {
    width: 2px;
}

.imagen img {
    width: 130px;
    height: 100%;
    border-radius: 2px;
    border: 2px solid rgba(186, 188, 191, 255);
    margin-top: 2px;
}

.descripcion {
    margin-top: 5px;
    background: linear-gradient(90deg, #d1d1d1 0%, #c2c2c2 50%, #b1b1b1 100%);
    height: 8px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-family: var(--font-texto);
    font-weight: var(--font-weight-normal);
}

.descripcion h1 {
    font-size: 4.5px;
    font-family: var(--font-texto);
    font-weight: var(--font-weight-normal);
}

.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 13px;
    margin-top: 10px;
    width: 90%;
    height: 30%;
}

.habilidad {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 9px;
    white-space: nowrap;
    justify-content: space-between;
}

.habilidad-tipo {
    width: 35px;
}


.descripcion-texto {
    font-size: 6px;
    margin-top: -10px;
    margin-left: var(--spacing-xs);
    font-family: var(--font-texto);
    font-weight: var(--font-weight-normal);
}

.descripcion-texto img {
    width: 5px;
}

.atributos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 3px;

}

.atributos img {
    width: 5px;
    height: 5px;
}

.debilidad {
    font-size: 4px;
    color: var(--color-black);
    border-top: 1px solid rgba(186, 188, 191, 255);
    border-bottom: 1px solid rgba(186, 188, 191, 255);
    height: 8px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resistencia {
    font-size: 4px;
    color: var(--color-black);
    border-top: 1px solid rgba(186, 188, 191, 255);
    border-bottom: 1px solid rgba(186, 188, 191, 255);
    height: 8px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retirada {
    font-size: 4px;
    color: var(--color-black);
    border-top: 1px solid rgba(186, 188, 191, 255);
    border-bottom: 1px solid rgba(186, 188, 191, 255);
    height: 8px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion2 {
    font-size: 5.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 3px;
    font-family: var(--font-texto);
    font-weight: var(--font-weight-normal);
}

.agua {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 5px solid rgba(186, 188, 191, 255);
    border-radius: 5px;
    background: var(--gradiante-agua), url(../asset/images/textura.svg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-titulo);
    background-size: cover;
}

.electrico {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 5px solid rgba(186, 188, 191, 255);
    border-radius: 5px;
    background: var(--gradiante-electrico), url(../asset/images/textura.svg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-titulo);
    background-size: cover;
}

.psiquico {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 5px solid rgba(186, 188, 191, 255);
    border-radius: 5px;
    background: var(--gradiante-psiquico), url(../asset/images/textura.svg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-titulo);
    background-size: cover;
    position: relative;
}

.planta {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 5px solid rgba(186, 188, 191, 255);
    border-radius: 5px;
    background: var(--gradiante-planta), url(../asset/images/textura.svg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-titulo);
    background-size: cover;
    position: relative;
}

.lucha {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 5px solid rgba(186, 188, 191, 255);
    border-radius: 5px;
    background: var(--gradiante-lucha), url(../asset/images/textura.svg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-titulo);
    background-size: cover;
    position: relative;
}
.electrico-bordeamarillo,.agua-bordeamarillo,.fuego-bordeamarillo,.psiquico-bordeamarillo,.planta-bordeamarillo,.lucha-bordeamarillo {
    border: 5px solid #ffe464;
}



.planta-bordeamarillo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    top: 13px;
    background: url(../asset/images/exeggute.png), linear-gradient(90deg, #d1d1d1 0%, #c2c2c2 50%, #b1b1b1 100%);
    background-size: cover;
    border-radius: 10px;
}

.psiquico-bordeamarillo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    top: 13px;
    background: url(../asset/images/lampent.png), linear-gradient(90deg, #d1d1d1 0%, #c2c2c2 50%, #b1b1b1 100%);
    background-size: cover;
    border-radius: 5px;
}

.lucha-bordeamarillo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    top: 13px;
    background: url(../asset/images/timburr.png), linear-gradient(90deg, #d1d1d1 0%, #c2c2c2 50%, #b1b1b1 100%);
    background-size: cover;
    border-radius: 10px;
}