@import  url('./variables.css');
*{
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
    
}
.logo{
    height: 25px;
    margin: 0;
    padding: 0px;
}
.pokemon{
    font-family: var(--font-titulo);
    display: flex;
    align-items: row;
    margin-top: 24px;
    gap: var(--spacing-sm);
}

.sidebar-elementos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-md);
}

.inicio{
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-sm);
    color: var(--color-black);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    
}

.sidebar h1 {
    font-size: var(--font-size-grande);
    margin-bottom: var(--spacing-lg);
    color: var(--color-black);
    
}
.sidebar{
    font-size: var(--font-size-base);
    color: var(--color-grey);
    font-weight: var(--font-weight-normal);
}
.main-content {
    width: 80%;
    padding: var(--spacing-lg);
    margin-top: var(--spacing-lg);
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    font-family: var(--font-titulo);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

.header input {
    padding: 8px 10px;
    font-size: var(--font-size-base);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    width: 480px;
    height: 28px;
}

.busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.lupita{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 42px;
    background: #2fc4e9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
}

.lista{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    width: 126px;
    height: 42px;
    background-color: #B0B8C6;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    color: var(--color-white);
}

.cuadricula{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    gap: var(--spacing-md);
    width: 126px;
    height: 42px;
    background-color: #2fc4e9;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(155, 154, 154, 0.555);
    color: var(--color-white);
}

.cartas{
    width: 144px;
    height: 222px;
    background: #2fc4e9;
}