@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    /*TIPOGRAFIA*/
    --font-titulo: "Roboto", sans-serif;
    --font-texto: "Open Sans", "sans-serif";
    --font-size-base: 16px;
    --font-size-grande: 19px;
    --text-size-h1: 3.05em;
    --text-size-p: 1em;

    
    /*COLORES*/
    --color-grey: rgb(136, 127, 127);
    --color-black: black;
    --color-white: white;

    /*WEIGHT*/
    --font-weight-bold: 700;
    --font-weight-normal: 400;

    /*ESPACIADO*/
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /*GRADIANTES*/
    --gradiante-fuego: linear-gradient(135deg, #f97a57d3, #ff3e3ea1);
    --gradiante-agua: linear-gradient(135deg, #a3d8f4ce 0%, #75b8e1cb 50%, #4aa3dbcc 100%);
    --gradiante-electrico: linear-gradient(90deg, #ffd900ce 0%, #ffcc00c7 50%, #ffa600cb 100%);
    --gradiante-psiquico: linear-gradient(180deg, #892be2a4, #da70d6bd);
}